/* your custom css goes here */
#div1{
    font-size: large;
    padding:50px;
    margin-right:10px;
    float:left;
    }

#div2{
    font-size: large;
    padding:50px;
    margin-right:10px;
    float:left;
    }
  
#div3{
    font-size: large;
    padding:50px;
    margin-right:10px;
    float:left;
    }