<%- include('./partials/header.ejs') -%>
<!--home page insert info-->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">關於我</p>
      <hr class="my-4">
      <img src="./Assets/images/picture.jpg" alt="picture.jpg" class="img-thumbnail">
      <h5>
      <p>My name is Ting, Li-Jung (丁立容), an internation student from Taiwan.</p>
      <p>Now I'm study in Centennial College and it is my third semester!</p>
      <p>Every thing is changelling and interesting to me in programming world.</p>
      <p>Before I came to Canada, I graduated in <a href="https://www.stust.edu.tw/en" class="text-decoration-none">Southern Taiwan University of Science and Technology</a> 
        and my major was Industrial Management. </p>

      <div class ml-auto lg><img src="./Assets/images/picture2.jpg" alt="picture2.jpg" class="rounded mx-auto d-block"></div>
      <p>我的名字是丁立容(Ting, Li-Jung)，是一位正在加拿大百年理工就讀的三年級學生</p>
      <p>在就讀軟體工程以前，畢業於南臺科技大學工業管理系。</p>
      <p>在軟體工程的世界，所有的一切對我來說都如此新鮮與挑戰！</p>
      <p>歡迎到社交媒體連繫我！ </p>
      </h5>
  </div>
   <div class="col">
    

   </div>
  </div>
 </div>
</div>

<%- include('./partials/footer.ejs') -%>