<%- include('./partials/header.ejs') -%>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">專案</p>
      <hr class="my-4">
        <div id="div1">
         <h3>HTML build</h3>
          <a href="http://studentweb.cencol.ca/lting/"><img src="./Assets/images/website.png" alt="Link from COM213" title="Link to COM213 website"></a>
        </div>

        <div id="div2">
          <h3>SRS for Adobe Digital Editior </h3>
           <a href="https://drive.google.com/file/d/1x839wvup976HijceDw1oQgOVpWLPWvep/view?usp=sharing"><img src="./Assets/images/document.png" alt="SRS for Adobe Digital Editior" title="SRS for Adobe Digital Editior"></a>
         </div>

         <div id="div3">
           <h3>滿意度分析－以生活機能館為例 </h3>
            <a href="https://drive.google.com/file/d/1AsBhAC76MMgmLw4wJHeU8MZ333UkdKh2/view?usp=sharing"><img src="./Assets/images/projection.png" alt="滿意度分析－以生活機能館為例" title="滿意度分析－以生活機能館為例"></a>
          </div>
      </div>
     </div>

  </div>
</div>

<%- include('./partials/footer.ejs') -%>