<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
        <h4 class="font-italic">"Learn from the mistakes of others. You can't live long enough to make them all yourself."</h4>
  <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~ Eleanor Roosevelt</h5>
  <p></p>
  <p></p>
  <p></p>
  <h4>要從他人的錯誤中學習，因為你不可能活到犯下所有錯誤。</h4>
  <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~ 愛蓮娜．羅斯福</h5>
  <p></p>
  <p></p>
  <p></p>
      <hr class="my-4">
   </div>
  </div>
 </div>



</div>