<!--for all the content-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='./Content/app.css' />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
      <img src="./Assets/images/logo.png" width="45" height="45" alt="logo" loading="lazy">
      Ting, Li-Jung 丁立容
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto lg">

          <li class="nav-item active">
            <a class="nav-link" href="/home"><i class="fas fa-laptop-house"></i> Home 首頁</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/about"><i class="fas fa-address-card"></i> About 關於我</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/projects"><i class="fas fa-file-medical-alt"></i> Projects 專案</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/services"><i class="fas fa-map-signs"></i> Services 服務</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact 聯繫我</a>
          </li>
          

          
        </ul>
       
      </div>
    </nav>